<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app" class="container" style="padding-top: 2em;">
    <div class="alert alert-danger" v-if="!isValid">
        <ul>
            <li v-show="!validation.name">Name field is required.</li>
            <li v-show="!validation.email">Email is required.</li>
            <li v-show="!validation.address">Address field is required.</li>
        </ul>
    </div>
    <form action="#" @submit.prevent="AddNewUser" method="POST">
        <div class="form-group">
            <label for="name">Name:</label>
            <input v-model="newUser.name" type="text" id="name" name="name" class="form-control">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input v-model="newUser.email" type="text" id="email" name="email" class="form-control">
        </div>
        <div class="form-group">
            <label for="address">Address:</label>
            <input v-model="newUser.address" type="text" id="address" name="address" class="form-control">
        </div>

        <div class="form-group">
            <button :disabled="!isValid" class="btn btn-default" type="submit" v-if="!edit">Add new User</button>
            <button :disabled="!isValid" class="btn btn-default" type="submit" v-if="edit">Edit User</button>
        </div>

    </form>
    <table class="table">
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>Email</th>
        <th>Address</th>
        <th>Created at</th>
        <th>Updated at</th>
        <th>Action</th>
        </thead>
        <tbody>
        <tr v-for="user in users">
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address}}</td>
            <td>{{user.createdAt}}</td>
            <td>{{user.updatedAt}}</td>
            <td>
                <button class="btn btn-default btn-sm" @click="showUser(user.id)">Edit</button>
                <button class="btn btn-default btn-sm" @click="showUser(user.id)">Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
<script src="js/vue.js"></script>
<script src="js/vue-resource.js"></script>

<script>
    var vm = new Vue({
        el: '#app',
        data: {
            newUser: {
                id: '',
                name: '',
                email: '',
                address: ''
            },
            edit:false
        },
        methods: {
            fetchUser: function () {
                this.$http.get('Users.php?method=all', function (data) {
                    console.log(data);
                    this.$set('users', data);
                })
            },
            AddNewUser: function () {
                var user = this.newUser
                this.newUser = {name: '', email: '', address: ''}

                this.$http.post('Users.php?method=add', user);
            },
            showUser: function (id) {

                /*
                this.$http.get('Users.php?method=show&id' + id, function (data) {
                    this.newUser.id = data.id;
                    this.newUser.name = data.name;
                    this.newUser.email = data.email;
                    this.newUser.address = data.address;


                })
*/
                this.newUser.id = 7;
                this.newUser.name = "Jane Doe";
                this.newUser.email = "Jane@doe.com";
                this.newUser.address = "New York City";
this.edit = true;

            }

        },
        ready: function () {
            this.fetchUser();

        },
        computed: {
            validation: function () {
                return {
                    name: !!this.newUser.name.trim(),
                    email: !!this.newUser.email.trim(),
                    address: !!this.newUser.address.trim()
                }
            },
            isValid: function () {
                var validation = this.validation
                return Object.keys(validation).every(function (key) {
                    return validation[key];
                })
            }
        }
    })
</script>

</body>
</html>